<section id="add" class="container">
    <div class="form-wrap">
        <h1>Add new song</h1>
        {{#each errors}}
            <div class="error">
                <p>{{text}}</p>
            </div>
        {{/each}}
        <form action="/songs/add" method="POST">
            <div class="input-group">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" class="input-box"
                       placeholder="eg. Blank Space"
                       maxlength="100" value="{{title}}">
            </div>
            <div class="input-group">
                <label for="artist">Artist</label>
                <input type="text" name="artist" id="artist" class="input-box"
                       placeholder="eg. Taylor Swift"
                       maxlength="100" value="{{artist}}">
            </div>
            <div class="input-group">
                <label for="album">Album</label>
                <input type="text" name="album" id="album" class="input-box"
                       placeholder="eg. 1989"
                       value="{{album}}">
            </div>
            <div class="input-group">
                <label for="albumArtist">Album Artist</label>
                <input type="text" name="albumArtist" id="albumArtist" class="input-box"
                       placeholder="eg. Taylor Swift"
                       value="{{albumArtist}}">
            </div>
            <div class="input-group">
                <label for="year">Year</label>
                <input type="number" name="year" id="year" class="input-box"
                       placeholder="eg. 2018"
                       value={{year}}>
            </div>
            <div class="input-group">
                <label for="disc">Disc</label>
                <input type="number" name="disc" id="disc" class="input-box"
                       placeholder="eg. 1"
                       value={{disc}}>
            </div>
            <div class="input-group">
                <label for="track">Track</label>
                <input type="number" name="track" id="track" class="input-box"
                       placeholder="eg. 5"
                       value={{track}}>
            </div>
            <div class="input-group">
                <label for="genre">Genre</label>
                <input type="text" name="genre" id="genre" class="input-box"
                       placeholder="eg. Pop"
                       value="{{genre}}">
            </div>
            <div class="input-group">
                <label for="lyrics">Lyrics</label>
                <textarea name="lyrics" id="lyrics" class="input-box"
                          placeholder="Song lyrics..."
                          rows="10">{{lyrics}}</textarea>
            </div>
            <input type="submit" value="Add Song" class="btn btn-reverse">
        </form>
    </div>
</section>