<section id="songs" class="container">
    <h1>Songs</h1>

    {{#each songs}}
        <div class="song">
            <h3>Title: {{title}}</h3>
            <h2>Artist: {{artist}}</h2>
            <h3>Album: {{album}}</h3>
            <h3>Album Artist: {{albumArtist}}</h3>
            <label>Lyrics:
                <textarea>{{lyrics}}</textarea>
            </label>
            <h3>Year: {{year}}</h3>
            <h3>Disc: #{{disc}}</h3>
            <h3>Track: #{{track}}</h3>
            <h3>Genre: {{genre}}</h3>
        </div>
    {{else}}
        <p>No songs available</p>
    {{/each}}

</section>